
    .all-dd-config{
        background-color: transparent;
        border: 0px;
        border-bottom: 1px solid #bdc3c7;
        border-radius: 1px;
        color: #bdc3c7;
        font-size: bold;
        }
    
        .all-dd-config select:active {
        color: red; 
        background-color: yellow;
        }
    
        .all-dd-config > select option:focus {
        border: 1px solid red;
        box-shadow: 0 0 3pt 2pt #719ECE;
        }
    
        .img-body {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-size: cover;
        }
            
        .tag {
        float: left;
        position: absolute;
        left: 120px;
        top: 2px;
        background-color:rgb(26,37,48,0.7);
        opacity: 0.6;
        color: #fff;
        box-shadow: 4px 4px 4px #415161;
        }
    
        .box{
        position: relative;
        display: inline-block; 
        }
        
        .box .text{
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;        
        text-align: center;
        top: 8%; 
        background:rgb(26,37,48,0.7);
        font-family: Arial,sans-serif;
        color: #bdc3c7;
        width: 85%; 
        box-shadow: 4px 4px 4px #415161;
        }
        .box .text-bx{
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;        
        text-align: center;
        top: 2%; 
        background:rgb(26,37,48,0.7);
        font-family: Arial,sans-serif;
        color: #bdc3c7;
        width: 85%; 
        /* box-shadow: 4px 4px 4px #415161; */
        }
    
        .divided-blocks{
        display:flex;
        }
    
        .input-text-config::placeholder {
        color: #bdc3c7;
        opacity: 1; 
        }
    
        .form-check-rd{
        position: relative !important;
        display: block !important;
        padding-left: 5.25rem !important;
        margin-top:15px;
        }
        
        .btn-success {
        color:#fff;
        background-color: #E5194E;
        border-color: #E5194E;
        }
    
        .btn-success:hover{
        color:#fff;
        background-color: #b7143e;
        border-color: #b7143e;
        }
        
        .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        }
    
        .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        }
    
        .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 13px;
        width: 13px;
        background-color: #eee;
        border-radius: 50%;
        }
    
        .container:hover input ~ .checkmark {
        background-color: #ccc;
        }
    
        .container input:checked ~ .checkmark {
        background-color: #E5194E;
        }
    
        .checkmark:after {
        content: "";
        position: absolute;
        display: none;
        }
    
        .container input:checked ~ .checkmark:after {
        display: block;
        }
    
        .container .checkmark:after {
         top: 4px;
        left: 3px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: white;
        }

        
    .all-dd-config{
        background-color: transparent;
        border: 0px;
        border-bottom: 1px solid #bdc3c7;
        border-radius: 1px;
        color: #bdc3c7;
        font-size: bold;
        }
    
        .all-dd-config select:active {
        color: red; 
        background-color: yellow;
        }
    
        .all-dd-config > select option:focus {
        border: 1px solid red;
        box-shadow: 0 0 3pt 2pt #719ECE;
        }
    
        .img-body {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-size: cover;
        }
            
        .tag {
        float: left;
        position: absolute;
        left: 120px;
        top: 2px;
        background-color:rgb(26,37,48,0.7);
        opacity: 0.6;
        color: #fff;
        box-shadow: 4px 4px 4px #415161;
        }
    
        .box{
        position: relative;
        display: inline-block; 
        }
        
        .box .text{
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;        
        text-align: center;
        top: 5%; 
        background:rgb(26,37,48,0.7);
        font-family: Arial,sans-serif;
        color: #bdc3c7;
        width: 85%; 
        box-shadow: 4px 4px 4px #415161;
        margin-top: 20px;
        }
        .box .text-bx{
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;        
        text-align: center;
        top: 2%; 
        background:rgb(26,37,48,0.7);
        font-family: Arial,sans-serif;
        color: #bdc3c7;
        width: 85%; 
        /* box-shadow: 4px 4px 4px #415161; */
        }
        .divided-blocks{
        display:flex;
        }